body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(istockphoto-1428792471-640x640.jpg);
  background-size: cover;
}

h1 {
  color: #000000;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

h2 {
  margin-top: 2rem;
  color: #000000;
}
